body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  color: #4b4b4b;
}

a {
  color: #1a75cf;
}

a:hover {
  color: #f63;
}

.main-container {
  width: 100%;
  margin: auto;
}

.header {
  height: 50px;
  width: 100%;
  padding: 0;
  background: #1a75cf;
  color: white;
  text-align: center;
}

.header h1 {
  margin: 0;
  padding-top: 5px;
}

.content-wrapper {
  width: 960px;
  margin: auto;
  line-height: 1.5;
}

.sidebar {
  width: 220px;
  float: right;
  padding: 60px 0 0 40px;
}

.sidebar p {
  font-size: 14px;
  color: #8e8e8e;
}

.content-area {
  width: 660px;
  float: right;
  padding: 20px 20px 40px 20px;
}

.content-area h1 {
  font-size: 42px;
  margin-bottom: 0;
}

.content-area h2 {
  margin-top: 0;
}

.content-area img {
  margin: 20px 0 20px 0;
}

.footer {
  background: #6cabe7;
  color: white;
  text-align: center;
  height: 40px;
  clear: both;
}

.footer p {
  padding: 10px;
}

