body {
  font-family: 'Oxygen', sans-serif;
  font-size: 1em;
  color: #A0A5AA;
  background: #f8fafb;
  margin: 0;
}

a {
  color: #389adc;
  text-decoration: none;
}

a:hover {
  color: #ec8f46;
}

#main-header {
  background: #0881b3;
  margin-bottom: 50px;
}

header h1 {
  height: 50px;
  width: 100%;
  padding-top: 5px;
  margin: 0 auto;
  text-align: center;
  font-family: 'Francois One', sans-serif;
  font-size: 2em;
}

.content-area {
  width: 90%;
  max-width: 970px;
  margin: auto;
}

h1 {
  font-size: 2em;
  color: #fff;
}

h2 {
  font-size: 1.75em;
  color: #516273;
  margin-bottom: 5px;
}

h3 {
  font-size: 1.375em;
  color: #58a1c1;
}

.post-date {
  font-size: 0.8125em;
  margin-top: 0;
  padding-bottom: 10px;
  border-bottom: solid 1px #E1E8EF;
}

.post {
  line-height: 1.5;
  margin-bottom: 30px;
}

img {
  max-width: 100%;
}

footer {
  font-family: 'Oxygen', sans-serif;
  background: #aab0b6;
  color: white;
  text-align: center;
  width: 100%;
  height: 40px;
  clear: both;
  margin-top: 60px;
}

footer p {
  font-size: 0.875em;
  padding-top: 10px;
}

@media screen and (max-width: 470px) {
  img {
    display: none;
  }
}
